.slimSideNav {
  width: 4rem;
  transition: all 0.5s;
  -webkit-transition: all 0.25s;
}

.slimWidthMax {
  width: 15em !important;
}

.font-style-menuli {
  font-size: 0.9rem !important;
  color: #f5f5f5 !important;
}

.font-style-menuli:hover {
  background-color: #3e4551 !important;
}
.collapsibleContainer:hover {
  background-color: #3e4551 !important;
}

.boneText {
  color: #f5f5f5 !important;
}

.dashboard-content {
  transition: all 0.5s;
  -webkit-transition: all 0.25s;
}

.sticky-header {
  z-index: 1000;
  top: 0 !important;
}

.inputErrorLabel {
  position: absolute !important;
  top: 62px !important;
  color: #f44336 !important;
  font-size: 0.7rem !important;
}

/* .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color: #3b3b3b !important;
} */

.collapsibleRightBtn {
  bottom: 20px;
}

.d-avatar {
  height: 3rem !important;
  width: 3rem !important;
}

.mt-6 {
  margin-top: 4rem !important;
}

@media (max-width: 575.9px) {
  .dashboard-content {
  }
}

@media (min-width: 768px) {
  .margin-sidenav-sm {
    margin-left: 4rem !important;
  }

  .margin-sidenav-full {
    margin-left: 15em !important;
  }
}

.username-label {
  font-size: 0.8rem !important;
}
