.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.sticky-secheader {
  z-index: 999;
  top: 56px !important;
}

.actionIconButtons {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.actionIconButtons:hover {
  background-color: #f5f5f5;
}

.meterButtonUpdate {
  z-index: 1;
  top: -25px !important;
  width: 80% !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

.buttonHeader {
  width: 100%;
  padding: 0 1rem !important;
  height: 50px !important;
  font-size: 1rem !important;
  text-transform: uppercase !important;
  background-color: white !important;
  color: #424242 !important;
}

@media (max-width: 991.9px) {
  .meterList {
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }
  .listGroup-h {
    height: 300px !important;
  }

  .list-group-item-action {
    width: auto !important;
  }

  .list-group-item + .list-group-item {
    border-top-width: 1px !important;
  }
}

@media (min-width: 992px) {
  .list-group {
    flex-direction: column !important;
  }

  .listGroup-h {
    height: 750px !important;
  }
}

@media (min-width: 1200px) {
  .listGroup-h {
    height: 750px !important;
  }
}

.loaderEdges {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2000;
}

h4.modal-title {
  width: 100% !important;
}

.form-check {
  padding: 0 !important;
}

.errorRadioButtonLabel {
  top: 46px !important;
  position: absolute !important;
  color: #f44336 !important;
  font-size: 0.7rem !important;
}

.elegant-text {
  color: #2e2e2e !important;
}

.red.lighten-2:hover {
  background-color: #f44336 !important;
}

.green.lighten-2:hover {
  background-color: #4caf50 !important;
}

.borderInfoBackground {
  border-left: 4px solid #0099cc;
  /* border-top: 1px solid #757575; */
  border-bottom: 1px solid #dee2e6 !important;
  border-right: 1px solid #dee2e6 !important;
}

.borderErrorBackground {
  border-left: 4px solid #cc0000;
  border-top: 1px solid #dee2e6 !important;
  /* border-bottom: 1px solid #757575; */
  border-right: 1px solid #dee2e6 !important;
}

li.list-group-item {
  border: none !important;
}
