.bg-fileupload-cloud-icon {
  color: #ccc !important;
}

.inputFileContainer {
  min-height: 160px;
}

.inputFileContainer:hover {
  background-color: #eeeeee !important;
}

.inputFileMask {
  position: absolute !important;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.64) !important;
  z-index: 2;
}

.messageInputMask {
  font-size: 0.8rem !important;
}

.bg-fileuploaded {
  color: #757575 !important;
}

.extension-pos {
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-file {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
}

input {
  overflow: visible;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.rmv-uploadedFile {
  top: 0;
  right: 0;
  z-index: 6;
}

.bg-loader {
  background-color: hsla(0, 0%, 100%, 0.9);
}

.loaderFull {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.extensionSt {
  top: 54% !important;
  font-weight: bold;
  font-size: 20px;
  left: 50% !important;
  transform: translate(-50%, -50%);
}
