/* Layout */

.maxh-100vh {
  max-height: 100vh !important;
}

.minh-100vh {
  min-height: 100vh !important;
}

.pointer {
  cursor: pointer !important;
}

.ul-simple {
  list-style: none !important;
  margin: 0 !important;
}

/* Colors */
.textGrey {
  color: #3b3b3b !important;
}

/* Forms */

.md-form {
  margin: 0 !important;
}

@media (min-width: 768px) {
  .side-nav {
    transform: translateX(0%) !important;
  }
}

/* .side-nav.wide .collapsible button {
  display: none !important;
} */

/* .side-nav {
  padding-bottom: 0 !important;
} */
